body {
  /*font-family: Helvetica Neue, Arial, sans-serif;*/
  font-family: Poppins,sans-serif;
  text-align: center;
  color: #3b4351;
  font-size: 15px;
  font-weight: 700;
  /*padding: 5px;*/
}

.wrapper {
  max-width: 800px;
  margin: 50px auto;
  padding-top: 50px;
}

h1 {
  font-weight: 400;
  font-size: 3em;
  margin: 0 0 0.1em 0;
  padding: 5px;
}

h2 {
  font-weight: 300;
  font-size: 1.5em;
  margin: 0 0 50px;
  color: #999;
  padding: 5px;
}

.sleekborder{
  max-width: 800px;
  width: 800px;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
}

.up{
  display: flex;
  flex-direction: row;
}

.direct{
  width: 250px;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
  /*height: 50px;*/
}

.india{
  /*max-width: 800px;*/
  width: 800px;
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.india-donut{
  padding: 5px;
  /*max-width: 400px;*/
}

#india-map{
  padding: 5px;
  /*margin-left: 100px;*/
  padding-left: 100px;
  padding-right: 0;
}

#world-map{
  width: 800px;
  height: 400px;
  padding: 5px;
}

.map-graphs{
  /*max-width: 800px;*/
  width: 700px;
  height: 400px;
  display: flex;
  padding: 5px;
  flex-direction: row;
}

.line-graphs{
  /*max-width: 800px;*/
  width: 430px;
  height: 400px;
  padding: 5px;
  display: flex;
  flex-direction: row;
}